body {
    font-size: 18px;
}

header {
    font-size: 22px;
}

.row {
    margin: 0px;
}

.navbar {
    border-bottom: 1px solid transparent;
    border-color: var(--bs-border-color);
}

.sidebar-header {
    width: 100%;
    font-size: 18px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-radius: 0px;
    border-color: var(--bs-border-color);
}

.sidebar-header:hover {
    background-color: var(--bs-secondary-bg-subtle);
}

.sidebar-link {
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar-link:hover {
    background-color: var(--bs-secondary-bg);
}

.bi {
    line-height: 0;
}

.close-button {
    color: rgb(175, 0, 0);
    font-size: x-large;
    margin-left: auto;
}

.close-button:hover {
    color: red;
}

.section {
    background-color: var(--bs-tertiary-bg);
    border: 0.15rem solid transparent;
    border-radius: var(--bs-border-radius-lg);
    border-color: var(--bs-border-color);
    margin-top: 1rem;
    box-shadow: var(--bs-box-shadow);
}

.inner-section {
    background-color: var(--bs-tertiary-bg);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.btn-body {
    background-color: var(--bs-body-bg);
    border: none;
}

.btn-body:hover {
    background-color: var(--bs-secondary-bg);
}

.progress-bar {
    transition-duration: 0.06s;
}

@media (hover: none) {
    .tooltip-hover-none {
        display: none;
    }
}

@media (max-width: 265px) {
    .page-title {
        display: none;
    }
}

@media (max-width: 400px) {
    .money-label {
        display: none;
    }
}

.item-icon {
    width: 75px;
    height: 75px;
}

.item-icon:hover {
    border-color: goldenrod;
}

.toast {
    pointer-events: none;
    width: auto;
    margin: auto;
}